@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Main HBS*/
body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  position: relative;
  padding-bottom: 6rem;
}

nav {
  background: #1274fc;
  height: 5rem;
}

#navbarNav a {
  margin: 1rem;
}

#navbarNav a:hover {
  color: white;
  font-weight: bold;
  border-bottom: 2px solid white;
}

footer {
  background: #1274fc;
  height: 5rem;
  width: 100vw;
  display: grid;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

footer img {
  width: 100%;
}

/* Show notes */
.addNew {
  font-size: 4rem;
  padding-top: 5rem;
  color: black;
}

.p1 {
  background: rgb(220, 53, 69, 0.5);
}

.p2 {
  background: rgb(255, 193, 7, 0.5);
}

.p3 {
  background: rgb(40, 167, 69, 0.5);
}

/* Form */

.center {
  margin-top: 3rem;
}
